html {
    font-family: 'Ubuntu', sans-serif;
}

/* Base Template */

.lego-icon {
    content: url('https://cdn3.iconfinder.com/data/icons/miscellaneous-vol-2-2/64/lego-head_with_hair-512.png');
    height: 50px;
    width: 50px;
    margin: 5px;
}

.logo-text {
    vertical-align: top;
    color: #000;
}

.nav-wrapper {
    background-color: rgb(241, 241, 20);
}

nav ul a {
    color: black;
}

nav .button-collapse {
    float: right;
}

nav a {
    color: #000
}

.d-none {
    display: none;
}


/* index */

.header-img {
    content: url('../images/01195866_005.jpg');
    width: 100%;
}

.callout-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 250px;
}

.callout-container {
    padding: 50px 20px 0 50px;
}

.home-section-container {
    padding: 60px;
    background-color: rgb(0, 109, 183);
    color: #FFF;
    margin: 50px 0 0;
}

.home-photos {
        position: relative;
}

.home-photo {
    position: absolute;
    max-width: 200px;
    height: auto;
    box-shadow: 0px 0px 10px black;
    margin: 0 auto;
}

.photo1 {
    left: 75px;
    top: 25px;
    content: url('https://img.brickowl.com/files/image_cache/larger/lego-emmet-with-lopsided-smile-and-no-plate-on-leg-minifigure-25.jpg');
}

.photo2 {
    top: 50px;
    left: 225px;
    content: url('https://img.brickowl.com/files/image_cache/larger/lego-police-woman-minifigure-28.jpg');
}

/* Minifigure Display */

.banner {
    width: 100%;
    height: 100px;
    margin: 50px 0;
    background-color: rgb(0, 109, 183);
    color: #FFF;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

#minifig_name {
    border: 1px solid #000;
    border-radius: 25px;
    display: inline;
    padding-left: 10px;
    position: absolute;
    z-index: 0;
    width: 75%;
}

#name_placeholder {
    left: 1.5rem;
}

.search {
    position: relative;
}

.search-btn {
    display: inline;
    float: right;
    border-radius: 50%;
    padding: 5px;
    height: 47px;
    width: 47px;
}

.search-icon {
    margin: 0;
    vertical-align: super;
}

.collapsible-body-container {
    border: black solid 3px;
}

.collapsible-body {
    padding: 0;
    background-color: rgb(0, 109, 183);
    color: white;
}

.collapsible-header {
    background-color: rgb(241, 241, 20);
    color: black;
}

.collapsible-header:hover {
    background-color: rgb(206, 206, 6);
}

.photo {
    width: 100%;
    height: 250px;
}

.row .minifig-container {
    padding: 2rem;
}

.right {
    float: right;
}

.edit {
    width: 100%;
    color: black;
    background-color: rgb(241, 241, 20);
    height: 55px;
    line-height: 45px;
}

.edit:hover {
    background-color: rgb(206, 206, 6);
}

.edit-link {
    height: 150px;
}

.list-item {
    padding: 6px;
    text-align: left;
}

.chevron_right {
    float: right;
    line-height: 45px;
}

/* This code below was taken from stack overflow. 
Icon toggle after clicking on minifigure name */
.iconadd{
  display:inline-block ;
}
.iconremove{
  display:none !important;
}

li.active .collapsible-header .material-icons.iconadd{
  display: none;
}

li.active .collapsible-header .material-icons.iconremove{
  display: inline-block !important;
}

/* Add Minifigure */

.form {
    width: 50%;
    margin-bottom: 100px;
}

.btn i {
    margin-right: 10px;
}

/* Themes */

.themes-container {
    text-align: center;
    width: 80%;
    margin-bottom: 100px;
}

.add-theme {
    float: left;
    margin-left: 24px;
}

/* Buttons */

.yellow-btn {
    background-color: rgb(241, 241, 20);
    color: black;
}

.yellow-btn:hover {
    background-color: rgb(206, 206, 6);
}

.blue-btn {
    background-color: rgb(0, 109, 183);
}

.blue-btn:hover {
    background-color: rgb(12, 100, 148);
}

.theme-btn {
    height: 40px;
}

/* Footer */

.page-footer {
    background-color: #000000ab;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 100%;
}

#about-section,
#social-links {
    padding: 50px 72px;
}

.footer-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.about-img {
    content: url('../images/minifigreading.jpg');
}

.social-img {
    content: url('../images/minifigphone.jpg');
}

.white-text {
    display: inline;
    margin-left: 10px;
}

.fab {
    padding: 10px;
    font-size: 30px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.fab:hover {
    color: rgb(241, 241, 20);
}

/* Media Queries */

@media(min-width: 701px) and (max-width: 999px) {
    .callout-container {
        padding: 25px 10px 0 25px;
    }
    .callout-btn {
        margin: 5px 100px 10px 0;
        width: 200px;
        float: right;
        display: inline-block;
    }
    .callout-header {
        font-size: 35px;
        width: 50%;
        display: inline-block;
        float: left;
        margin-top: 0;
    }
    .home-section-container {
        padding: 30px;
    }
    .photo1 {
        left: 25px;
        top: 25px;
    }
    .photo2 {
        top: 100px;
        left: 150px;
    }
}

@media(max-width: 992px) {
    nav .brand-logo {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .form {
        width: 70%;
    }
    #minifig_name {
        width: 80%;
    }
}


@media(max-width: 700px) {
    .callout-btn {
        margin: 10px auto;
        width: 200px;
        display: block;
    }
    .callout-header {
        font-size: 35px;
        display: block;
        padding-right: 0;
        margin-top: 0;
    }
    .callout-container {
        padding: 0px 10px;
        text-align: center;
    }
    .header-img {
        content: url('../images/lego-mobile.png');
        margin-top: 20px;
    }
    .photo2 {
        top: 150px;
        left: 50px;
    }
    .photo1 {
        top: 0;
        left: 0;
    }
    .home-section-container {
        padding: 40px;
        height: 850px;
    }
    
}

@media(max-width: 500px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
    .home-section {
        text-align: center;
    }
    .form {
        width: 90%;
    }
}