html {
    font-family: 'Ubuntu', sans-serif;
}

/* Minifigure Display */

.collapsible-body-container {
    border: black solid 3px;
}

.collapsible-body {
    padding: 0;
    background-color: rgb(1, 166, 255);
    color: white;
    /* border-left: black solid 3px;
    border-right: black solid 3px;
    border-bottom: black solid 3px; */
}

.collapsible-header {
    background-color: rgb(241, 241, 20);
    color: black;
    /* border: black solid 3px; */
}

.collapsible-header:hover {
    background-color: rgb(206, 206, 6);
}

.photo {
    width: 100%;
    height: 250px;
}

.row .minifig-container {
    padding: 2rem;
}

.right {
    float: right;
}

.edit {
    width: 100%;
    /* border-top: black solid 3px; */
    color: black;
    background-color: rgb(241, 241, 20);
    height: 55px;
    line-height: 45px;
}

.edit:hover {
    background-color: rgb(206, 206, 6);
}

.edit-link {
    height: 150px;
}

.list-item {
    padding: 6px;
}

.chevron_right {
    float: right;
    line-height: 45px;
}



/* This code below was taken from stack overflow. 
Simple icon change after clicking on minifigure name */
.iconadd{
  display:inline-block ;
}
.iconremove{
  display:none !important;
}

li.active .collapsible-header .material-icons.iconadd{
  display: none;
}

li.active .collapsible-header .material-icons.iconremove{
  display: inline-block !important;
}

/* Add Minifigure */

.form {
    width: 50%;
}

.btn i {
    margin-right: 10px;
}