{% extends 'base.html' %} {% block content %}
<div class="banner">
    <h3>Add a Minifigure</h3>
    <hr>
    <div class="row max-width">
        <div class="col s12 m6 l7 left-align add-container">
            <h5>To add your own minifigure and expand the catalogue, just fill out the form below.</h5>
            <p>When taking a photo of your minifigure, remember the following:</p>
            <ul id="add-list">
                <li class="add-list">Take the photo in potrait, not landscape</li>
                <li class="add-list">Take the photo in good light</li>
                <li class="add-list">Make sure your minifig is in the centre of the photo</li>
                <li class="add-list">Make sure your minifig has all the accessories included</li>
            </ul>
            <p class="add-paragraph">If the theme of your minifigure is not yet on the list below, head over to the Lego Themes page and add the new theme yourself.</p>
            <a  href="{{ url_for('get_themes') }}"  
                class="waves-effect waves-light btn yellow-btn">Add Theme</a>
        </div>
        <div class="col s12 m6 l5 add-container add-photos-container">
            <div class="add-photos-container">
                <img class="add-photo2"/><i class="material-icons check-icon">check</i>
                <img class="add-photo1"/><i class="material-icons cross-icon">close</i>
            </div>
        </div>
            
    </div>
</div>

<div class="row form">
  <form action="{{ url_for('insert_minifig') }}" method="POST" class="col s12" enctype="multipart/form-data">
    <div class="row">
      <div class="input-field col s12">
        <div class="file-field input-field">
          <div class="btn yellow-btn">
            <i class="material-icons">add_a_photo</i><span>Upload Photo</span>
            <input type="file" id="photo" name="photo" required/>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate"/>
          </div>
        </div>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input
          id="minifigure_name"
          name="minifigure_name"
          type="text"
          class="validate"
        />
        <label for="icon_prefix">Minifigure Name</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">theaters</i>
        <select id="theme" name="theme_name">
          <option value="" disabled selected>Choose Theme</option>
          {% for theme in themes %}
          <option value="{{theme.theme_name}}">{{theme.theme_name.title()}}</option>
          {% endfor %}
        </select>
        <label>Theme Categories</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">cake</i>
        <select id="age" name="age_range">
          <option value="" disabled selected>Choose Minifigure Age</option>
          {% for years in age %}
          <option value="{{years.age_range}}">{{years.age_range}}</option>
          {% endfor %}
        </select>
        <label>Minifigure Age</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">star</i>
        <input id="feature" name="feature" type="text" class="validate" />
        <label for="icon_prefix">Feature eg. 2 sided head, special tool</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">build</i>
        <select id="parts" name="number_of_parts">
          <option value="" disabled selected>Choose Number of Parts</option>
          {% for number in parts %}
          <option value="{{number.number_of_parts}}"
            >{{number.number_of_parts}}</option
          >
          {% endfor %}
        </select>
        <label>Minifigure Parts</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">fingerprint</i>
        <select id="rarity" name="rarity_name">
          <option value="" disabled selected>Choose Rarity</option>
          {% for name in rarity %}
          <option value="{{name.rarity_name}}">{{name.rarity_name}}</option>
          {% endfor %}
        </select>
        <label>Rarity</label>
      </div>

      <button class="btn waves-effect waves-light yellow-btn" type="submit" name="action">
        Add Minifigure
        <i class="material-icons right">playlist_add</i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
