{% extends 'base.html' %} {% block content %}

<h3>Add Theme</h3>
<div class="row form">
  <form
    action="{{ url_for('insert_theme') }}"
    method="POST"
    class="col s12"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">theaters</i>
        <input id="theme_name" name="theme_name" type="text" class="validate" />
        <label for="icon_prefix">Theme Name</label>
      </div>

      <button
        class="btn waves-effect waves-light yellow-btn"
        type="submit"
        name="action"
      >
        Add Theme
        <i class="material-icons right">border_color</i>
      </button>
    </div>
  </form>
</div>


{% endblock %}
