<!DOCTYPE html>
<html lang="en">

<!------------- Base template head section ----------->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Lego Minifigure Catalogue App" />
    <meta name="title" property="og:title" content="Lego Minifigure Catalogue" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/50994310532_9e3601a0d3_b.jpg" />
    <meta name="description" property="og:description" content="Lego Minifigure Catalogue" />
    <meta name="author" content="Mark McClean" />
    <title>Lego Minifigures Catalogue</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

<!------------- Base template navigation ----------->

    <header>
      <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('index_page') }}" class="brand-logo"><img class="lego-icon"/><span class="logo-text">Lego Minifigure Catalogue</span></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if 'username' in session %}
                <li><a href="{{ url_for('index_page') }}">Home</a></li>
                <li><a href="{{ url_for('get_minifigures') }}">Catalogue</a></li>
                <li><a href="{{ url_for('add_minifig') }}">Add Minifig</a></li>
                <li><a href="{{ url_for('get_themes') }}">Themes</a></li>
                <li><a href="{{ url_for('log_out') }}">Log out</a></li>
                {% else %}
                <li><a href="{{ url_for('index_page') }}">Home</a></li>
                <li><a href="{{ url_for('get_minifigures') }}">View Catalogue</a></li>
                <li><a href="{{ url_for('login_form') }}">Login</a></li>
                {% endif %}
            </ul>
            
            <ul class="side-nav" id="mobile-demo">
                {% if 'username' in session %}
                <li><a href="{{ url_for('index_page') }}">Home</a></li>
                <li><a href="{{ url_for('get_minifigures') }}">View Catalogue</a></li>
                <li><a href="{{ url_for('add_minifig') }}">Add Minifig</a></li>
                <li><a href="{{ url_for('get_themes') }}">Manage Themes</a></li>
                <li><a href="{{ url_for('log_out') }}">Log out</a></li>
                {% else %}
                <li><a href="{{ url_for('index_page') }}">Home</a></li>
                <li><a href="{{ url_for('get_minifigures') }}">View Catalogue</a></li>
                <li><a href="{{ url_for('login_form') }}">Login</a></li>
                {% endif %}
            </ul>
            
        </div>
      </nav>
      
    </header>

    <!------------- block content from other pages displas next ----------->

    {% block content %} {% endblock %}

    <!------------- Footer ----------->
    
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div id="about-section" class="col l6 m6 s12 ">
                <img class="footer-img about-img"/>
                <h5 class="white-text">About Me</h5>
                <hr>
                <p class="grey-text text-lighten-4">The Lego Minifigure Catalogue is the brainchild of Mark McClean and was developed as part of my training to become a world class web developer. Check out the social links to find out more about me.</p>
              </div>
              <div id="social-links" class="col l6 m6 s12">
                <img class="footer-img social-img"/>
                <h5 class="white-text">Social Links</h5>
                <hr>
                  <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/mark-mcclean-003a2913a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                  <a class="grey-text text-lighten-3" href="https://github.com/Sparkplug84" target="_blank"><i class="fab fa-github"></i></a>
                  <a class="grey-text text-lighten-3" href="https://www.facebook.com/mark.mcclean.56" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a class="grey-text text-lighten-3" href="https://twitter.com/PLbabble" target="_blank"><i class="fab fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Mark McClean
            </div>
          </div>
        </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible();
        $("select").material_select();
        $(".button-collapse").sideNav();
        // The following function was found as a solution on a Github article regarding 
        // a glitch with Materialize dropdown menus opening and immediately disappearing 
        // after the first click
        $(document).on("click", ".select-wrapper", function (event) {
            event.stopPropagation();
        });
        
      });
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
