{% extends 'base.html' %} {% block content %}

<section>
    <div class="row">

        <div class="col s12 m12 l8 right">
            <img class="header-img">
        </div>

        <div class="col s12 m12 l4">
            <div class="callout-container">
                <h3 class="callout-header">Welcome to the Lego Minifigure Catalogue</h3>
                <a href="{{ url_for('get_minifigures') }}" class="waves-effect waves-light btn yellow-btn callout-btn">View Catalogue</a>
                <a href="{{ url_for('add_minifig') }}" class="waves-effect waves-light btn yellow-btn callout-btn">Add a Minifig</a>
            </div>
        </div>
        
        
    </div>
</section>

<section class="callout">
  <div class="row">
    <div class="col s12 m8 l8">
      <h3>Welcome to the Lego Minifigure Catalogue</h3>
      <p>
        Are you a collector of Lego Minifigures, or just a Lego lover in
        general, then check out our amazing catalogue of Lego Minifigures. Add
        you own and help to build the catalogue!
      </p>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="callout-photos"></div>
  </div>
</section>

{% endblock %}
