{% extends 'base.html' %} {% block content %}

<section>
  <div class="output">
    {{text|safe}}
  </div>
  <div class="row">
    <div class="col s12 m12 l8 right">
      <img class="header-img" />
    </div>

    <div class="col s12 m12 l4">
      <div class="callout-container">
        <h3 class="callout-header">Welcome to the Lego Minifigure Catalogue</h3>
        <a
          href="{{ url_for('get_minifigures') }}"
          class="waves-effect waves-light btn yellow-btn callout-btn"
          >View Catalogue</a
        >
        <a
          href="{{ url_for('add_minifig') }}"
          class="waves-effect waves-light btn yellow-btn callout-btn"
          >Add a Minifig</a
        >
      </div>
    </div>
  </div>
</section>

<section class="home-section-container">
  <div class="row">
    <div class="col s12 m6 l7 home-section">
      <h4>What is the Lego Minifigure Catalogue?</h4>
      <hr />
      <p>
        Are you a collector of Lego Minifigures, or just a Lego lover in
        general, then check out our amazing catalogue of Lego Minifigures. Add
        you own and help to build the catalogue!
      </p>
      <p>
        The Lego Minifigure Catalogue is a unique community of users who come
        together and share their love of Lego by uploading photos of their own
        minifigs for the pleasure of others.
      </p>
      <p>
        Come and join us and don't miss out on the fun!
      </p>
    </div>

    <div class="col s12 m6 l5">
      <div class="home-photos">
        <img class="home-photo photo1" />
        <img class="home-photo photo2" />
      </div>
    </div>
  </div>
</section>

{% endblock %}
