{% extends 'base.html' %} {% block content %}

<!------------- login form ----------->

<div class="row banner">
  <h3>Login Form</h3>
</div>
<div class="row form">
  <form class="col s12" action="{{ url_for('login') }}" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" name="username"/>
        <label for="username">Username</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password"/>
        <label for="password">Password</label>
        <div>
            {{text|safe}}
        </div>
      </div>
    </div>

    

    <button
      class="btn waves-effect waves-light yellow-btn"
      type="submit"
      name="action"
    >
      Log In
      <i class="material-icons right">account_circle</i>
    </button>
  </form>
</div>
<div class="row form">
  <div>
    <p>
      Don't have an account yet?
      <a href="{{ url_for('register') }}">Sign up here!</a>
    </p>
  </div>
</div>

{% endblock %}
