{% extends 'base.html' %} {% block content %}
<div class="row banner">
  <h3>Sign Up</h3>
</div>
<div class="row form">
  <form class="col s12" action="{{ url_for('register') }}" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" name="username" required/>
        <label for="username">Username</label>
        <div>
        {{text|safe}}
        </div>
      </div>
    </div>
    

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" required/>
        <label for="password">Password</label>
      </div>
    </div>

    <button
      class="btn waves-effect waves-light yellow-btn"
      type="submit"
      name="action"
    >
      Sign Up
      <i class="material-icons right">account_circle</i>
    </button>
  </form>
</div>
<div class="row form">
  <div>
    <p>
      Already have an account?
      <a href="{{ url_for('login_form') }}">Log in here!</a>
    </p>
  </div>
</div>

{% endblock %}